body {
  font-family: Arial;
  background: #f7f7f8;
  padding: 40px;
}

input, textarea {
  width: 300px;
  padding: 10px;
  margin: 5px 0;
}

button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
}

textarea {
  height: 200px;
}
